
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="index::base(~{::body})">
<head>
<meta charset="UTF-8">
<meta http	-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>

<style>
.card {
	box-shadow: 18px 15px 5px grey;
}

.error {
	color: red;
}
</style>

</head>
<body class="bg-dark text-center">
	<div style="margin-left: 300px;">
		<div
			class="card  text-danger fw-bold m-2 mt-4 p-2 text-center border-danger"
			style="width: 900px; line-height: 40px; border-radius: 50px; background-color: pink;">
			<div class="card-header">
				<h3 th:text="#{add.contact.title}"></h3>
			</div>

			<div class="card-body ">
				<div class="text-center text-white">
					<h5 style="font-weight: bold; font-family: cursive; color: black">
						<span th:text="${addResult}"></span>
					</h5>
				</div>

				<form th:action="@{/management/save}" method="post"
					th:object="${cd}" enctype="multipart/form-data">
					<div>
						<label for="cName" th:text="#{contactname.title}"> </label>
						<div>
							<input id="cName" type="text" class="form-control  "
								th:field="*{cName}">
								
													<p class="text-dark" th:if="${#fields.hasErrors('cName')}"
								th:errors="*{cName}" />
		
						</div>
									</div>


					<div>
						<label for="cNickName" th:text="#{contactnickname.title}">
			
						</label>
						<div id="input">
							<input class="form-control" type="text" th:field="*{cNickName}">
							
							
							<p class="text-dark" th:if="${#fields.hasErrors('cNickName')}"
								th:errors="*{cNickName}" />
							

						</div>
					</div>

					<div>
						<label for="cNo" th:text="#{contactnumber.title}"> </label>
						<div>
							<input class="form-control  " type="number" th:field="*{cNo}">
														<p class="text-dark" th:if="${#fields.hasErrors('cNo')}"
								th:errors="*{cNo}" />
							
								</div>
						
					</div>

					<div>
						<label for="dest" th:text="#{contactdest.title}"></label>
						<div>
							<input style="position: static;" class="form-control "
								type="text" th:field="*{dest}">
														<p class="text-dark" th:if="${#fields.hasErrors('dest')}"
								th:errors="*{dest}" />
							
						</div>
					</div>
					
					
					<div>
						<div>
							<label th:text="#{contactabout.title}"></label>
						</div>
						<textarea rows="1" cols="57" name="about" th:field="*{about}"></textarea>
												<p class="text-dark" th:if="${#fields.hasErrors('about')}"
							th:errors="*{about}" />
						
											</div>
					<div>
						<input type="file" th:field="*{profilePicMultiPart}">
						<p class="text-dark"
							th:if="${#fields.hasErrors('profilePicMultiPart')}"
							th:errors="*{profilePicMultiPart}" />
			
							</div>
					<span class="text-primary" th:text="#{
profile.maxsize.note}" ></span>


					<button id="submit" class="btn btn-dark w-100 mt-2"
						th:text="#{addform.submit.title}"></button>
				</form>
			</div>
		</div>
	</div>
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
		integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
		crossorigin="anonymous"></script>
</body>
</html>